<!DOCTYPE html >
<html lang='ru' xml:lang='ru'  prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>{{ title_page|e }}</title>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
  <meta content='IE=edge' http-equiv='X-UA-Compatible' />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <link href="/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <br/>        
        <h2><a href="https://github.com/andeniel/19_site_generator" class="ease">Генератор сайтов</a></h2>        
        <br/>
        <div class="content">
            {% block body %}{% endblock %}
        </div>
    </div>
</body>
</html>